$color-wine-red: #660813;
$color-dark-wine: #280206;
$color-light-red: #e84141;

$color-white: #fff;
$color-neutral-gray: #555;
$color-dark-gray: #3e3e3e;
$color-light-gray: #d5c1c1;

$color-letter-title: #902336;
$color-black: #363636;
$color-text: #5c5c5c;
$color-text-blue: #407794;
