@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;500;600;700;800;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-mansalva: 'Mansalva', cursive;
$font-barrio: 'Barrio', cursive;
$font-poppins: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-source: 'Source Serif Pro', serif;
$font-work: 'Work Sans', sans-serif;

// typo
$poppins-thin: 100;
$poppins-light: 300;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semibold: 600;
$poppins-bold: 700;

// size font
$font-14: 1.4em;
$font-16: 1.6em;
$font-18: 1.8em;
$font-20: 2em;
$font-22: 2.2em;
$font-24: 2.4em;
