.container-red {
  background-color: $color-light-red;
}

.container-white {
  background-color: $color-white;
}

.container_aux {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  height: $em * 56;
  width: $w-100;
}

.layout-grid {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  width: $w-100;
}

.main_container {
  padding: 0 $em * 4;
  width: $w-100;
}

.base-container {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  margin-top: $em * 14.8;
  max-width: $em * 120;
  width: $w-100;
}

.base-container-big {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  margin-top: $em * 14.8 a;
  padding: 0 $em *4;
  width: $w-100;
}

.layout-big {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: $w-100 - 20;
  // max-width: $em * 180;
  width: $w-100;
}
