@mixin center-items {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin list-style {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: $s-10;
  margin-right: $em;
  width: $s-10;
}

@mixin border-lines {
  background-color: $color-dark-wine;
  position: absolute;
}
