@mixin center-items {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin list-style {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: $s-10;
  margin-right: $em;
  width: $s-10;
}

@mixin border-lines {
  background-color: $color-dark-wine;
  position: absolute;
}

@mixin position-experiencie($right, $top) {
  position: absolute;
  right: $right;
  top: $top;
  z-index: 20;
}

@mixin heading($size, $color: $color-white) {
  color: $color;
  font-family: $font-barrio;
  font-size: $size;
}

@mixin hoover-menu-item($url) {
  background-image: url($url);
  background-origin: content-box;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin text-general($size: $font-16, $color: $color-dark-gray) {
  color: $color;
  font-family: $font-poppins;
  font-size: $size;
  line-height: $em;
}
