.h2-title {
  @include heading($font-24 * 2, $color: $color-dark-gray);
}

.contact-button {
  background-color: $color-light-red;
  border-radius: 50%;
  bottom: 10%;
  height: $em * 4;
  margin-left: $em * 2;
  position: fixed;
  width: $em * 4;
  z-index: 10;

  button {
    background-color: transparent;
    border: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  svg {
    height: 40px;
    width: 40px;
  }
}

.modal {
  background-color: rgba(40, 2, 6, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.experiencie-modal {
  position: absolute;
  width: 100%;
  z-index: 20;

  &:hover {
    cursor: pointer;
  }
}
