.container-grid {
  align-items: center;
  // background-color: $color-light-red;
  display: grid;
  grid-template-columns: 8% 1fr;
  grid-template-rows: 1fr;
  height: $em * 7;
  justify-items: center;
  padding: 0 $em * 4;
  position: relative;
  width: $w-100;
}

.icon {
  border-left: 2.5px solid $color-dark-wine;
  border-right: 2.5px solid $color-dark-wine;
  height: 110%;
  width: 100%;
}

.list-menu {
  border-right: 2.5px solid $color-dark-wine;
  height: 110%;
  width: 100%;
}

.line-top {
  background-color: $color-dark-wine;
  bottom: 0;
  height: 2px;
  position: absolute;
  width: 95%;
}

.line-bottom {
  background-color: $color-dark-wine;
  height: 2px;
  position: absolute;
  top: 0;
  width: 95%;
}

.line-right {
  background-color: $color-dark-wine;
  height: 1px;
  position: absolute;
  transform: rotate(90deg);
  width: 5%;
}
