@import './borders';
@import './header';

.menu {
  @include center-items;

  background-color: $color-white;
  height: $em * 10.48;
  position: fixed;
  top: 0;
  width: $w-100;
  z-index: 10;
}

.menu__container {
  @include center-items;

  height: $em * 7;
  justify-content: space-around;
  margin-top: $em * 2;
  padding: 0 $em * 3;
  width: $w-100;
}

.menu__items {
  @include center-items;

  justify-content: space-between;
  margin: 0 auto;
  width: $w-100 - 10;
}

.menu__icon {
  @include center-items;

  height: $h-100;

  svg {
    width: $w-100;
  }
}

.container__list {
  @include center-items;

  flex-grow: 2;
  height: $h-100;
  justify-content: flex-end;

  a {
    color: $color-dark-wine;
    font-family: $font-mansalva;
    font-size: $font-20;
    padding: $em;
    text-decoration: none;

    &:hover {
      background-image: url('../../../assets/icons/image1.svg');
      background-origin: content-box;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

a.active-link {
  background-image: url('../../../assets/icons/image1.svg');
  background-origin: content-box;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
