@import './borders';
@import './header';

.menu {
  display: grid;
  gap: $em * 2.4;
  grid-template-columns: repeat(12, 1fr);
  height: $em * 6.1;
  position: relative;
  width: $w-100;
}

.menu__icon {
  @include center-items;

  grid-column: 1/2;
  width: $w-100;

  svg {
    width: $w-100;
  }
}

.menu__items {
  @include center-items;

  grid-column: 3/-1;
  justify-content: flex-end;

  a {
    color: $color-dark-wine;
    font-family: $font-mansalva;
    font-size: $font-18;
    margin: 0 $em *0.5;
    position: relative;
    text-decoration: none;

    &::before {
      background-image: url('../../../assets/icons/line.svg');
      background-position: bottom center;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      transition: all 0.3s ease-in-out;
      width: 100%;
      width: 0;
    }

    &:hover::before {
      width: 100%;
    }
  }

  a.active-link {
    background-image: url('../../../assets/icons/line.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}

// .menu__items--underline {
//   background-color: #fff;
//   bottom: 0;
//   height: 4px;
//   position: absolute;
//   transform-origin: right;
//   transition: all 0.3s ease-in-out;
//   // transition-delay: 0.1s;
//   width: 100%;

//   &::before {
//     background-image: url('../../../assets/icons/line.svg');
//     content: '';
//     height: 100%;
//     position: absolute;
//     transition: width 0.3s ease-in-out;
//     width: 0;
//   }
// }

// .menu_item {
//   background-color: #fff;
//   position: relative;

//   &:hover .menu__items--underline {
//     width: 100%;
//   }

//   &:hover .menu__items--underline::before {
//     width: 100%;
//   }
// }
