@import './rrss';

.home {
  &__name {
    grid-column: 3/-1;

    div:first-of-type {
      margin-left: $em * 5;
      width: $w-100;
    }

    div:last-of-type {
      margin: $em * 2;
    }
  }
}
