.menu-work {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: $em * 7.8;

  svg {
    height: 30px;
    width: 30px;
  }
}

.carousel-container {
  @include center-items;
}

.menu-item {
  @include center-items;

  border-radius: $em * 0.75;
  height: $em * 6;
  margin: $em * 1.5 0;
  width: $em * 6;

  svg {
    height: $em * 2.7;
    width: $em * 2.7;
  }
}
