.cardDaily {
  cursor: pointer;
  width: $w-100;

  p {
    color: $color-dark-gray;
    font-family: $font-poppins;
    font-size: $font-14;
    font-weight: $poppins-regular;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
