@import './experiencie';
@import './education';
@import './tools';

.about {
  grid-row: 2/3;
  width: $w-100;
}

.text-intro {
  grid-column: 2/8;
}

.doodle-img {
  @include center-items;

  grid-column: 8/-1;

  img {
    transform: rotate(-15deg);
    width: 90%;
  }
}

.about__intro {
  @include center-items;

  align-items: flex-start;
  flex-direction: column;
  height: $h-100;
  padding: $em * 5 0;
}

.intro__text {
  margin-top: $em * 3;

  p {
    color: $color-dark-gray;
    font-family: $font-poppins;
    font-size: $font-16;
    line-height: $lh-10 * 2;
    margin-top: $em;
  }

  p:nth-of-type(2) {
    position: relative;

    &::before {
      content: 'and windsurfer';
      font-family: $font-mansalva;
      height: auto;
      left: $em * 22;
      position: absolute;
      top: -$em * 3;
    }

    &::after {
      background-image: url('../../../assets/icons/arrow.svg');
      background-repeat: no-repeat;
      bottom: -$em * 0.09;
      content: '';
      height: $em * 5;
      left: $em * 17;
      position: absolute;
      transform: scale(0.75);
      width: $em * 5;
    }
  }

  p:nth-of-type(4) {
    float: right;
    font-family: $font-mansalva;
    font-size: $font-20;
  }
}

.experiencie-container {
  grid-column: 1/-1;
}

.about__experiencie {
  grid-column: 1/-1;

  span {
    color: $color-dark-gray;
    font-family: $font-barrio;
    font-size: $font-16;
    grid-column: 2/-1;
  }

  h2 {
    grid-column: 2/-1;
  }
}

.educaction-container {
  grid-column: 1/-1;
}

.about__education {
  grid-column: 1/-1;

  h2 {
    grid-column: 2/-1;
  }
}

.tools-container {
  grid-column: 1/-1;
}
