.experiencie_container {
  background-image: url('../../../../assets/timeline/line_timeline.svg');
  background-repeat: no-repeat;
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  width: ;
}

.detailExperiencie {
  border: 1px solid red;
}
