.experiencie__future {
  @include position-experiencie(85px, 100px);

  display: flex;
  justify-content: flex-end;
}

.container-modal {
  img {
    left: 50px;
    position: absolute;
    top: 45px;
  }

  span {
    position: absolute;
    right: 103px;
    top: 140px;
    width: 80%;

    p {
      color: $color-wine-red;
      font-family: $font-poppins;
      font-size: 13px;
      font-weight: $poppins-light;
    }
  }

  h5 {
    color: $color-dark-wine;
    font-family: $font-poppins;
    font-family: $font-barrio;
    font-size: $font-24 * 1.5;
    font-weight: $poppins-light;
    left: 135px;
    position: absolute;
    top: 55px;
  }
}

.experiencie__petararte {
  @include position-experiencie(190px, 100px);

  display: flex;
  justify-content: center;
}

.experiencie__platzi {
  @include position-experiencie(None, 110px);

  display: flex;
  justify-content: space-around;
  left: 132px;
}

.experiencie__tecma {
  @include position-experiencie(105px, 100px);

  display: flex;
  justify-content: flex-end;
}

.experiencie__spain {
  @include position-experiencie(10px, 100px);

  display: flex;
  justify-content: center;
}

.experiencie__aiesec {
  @include position-experiencie(200px, 100px);

  display: flex;
  justify-content: center;
}

.future-modal {
  // background-image: url('../../assets/img/experiencie/Vector-3.svg');
  // background-position: center center;
  // background-repeat: no-repeat;
  // height: 100%;
  width: auto;
}
