.experiencie__future {
  @include position-experiencie(85px, 100px);

  display: flex;
  justify-content: flex-end;
}

.experiencie__petararte {
  @include position-experiencie(190px, 100px);

  display: flex;
  justify-content: center;
}

.experiencie__platzi {
  @include position-experiencie(-10px, 110px);

  display: flex;
  justify-content: space-around;
}

.experiencie__tecma {
  @include position-experiencie(105px, 100px);

  display: flex;
  justify-content: flex-end;
}

.experiencie__spain {
  @include position-experiencie(10px, 100px);

  display: flex;
  justify-content: center;
}

.experiencie__aiesec {
  @include position-experiencie(200px, 100px);

  display: flex;
  justify-content: center;
}

.future-modal {
  // background-image: url('../../assets/img/experiencie/Vector-3.svg');
  // background-position: center center;
  // background-repeat: no-repeat;
  // height: 100%;
  width: auto;
}
